body {
    background: #ffffff;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}
h1 {
    font-weight: 500;
    margin-top: 0.1em;
    color: rgb(0, 0, 0);
    position: relative;
    top: 55px;
    left: 5px;
}
form {
    display: block;
    margin-top: 3em;
}
form.example input[type="search"] {
    background: #f9f7fe;
    border: none;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 6px;
    color: rgba(39, 33, 66, .4);
    font-size: 16px;
    height: 50px;
    line-height: 20px;
}
form.example input[type="submit"] {
    background: rgb(252, 171, 115);
    font-weight: 700;
    font-size: 16px;
    padding: 15px 0;
    border: none;
    height: 50px;
}
li {
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    margin-top: 0.1em;
    color: rgb(0, 0, 0);
    position: relative;
    top: -15px;
    left: 6px;
}

li:first-letter {
    text-transform: capitalize;
}
small {
    font-weight: 500;
    margin-top: 0.1em;
    color: rgb(252, 171, 115);
    position: relative;
    top: -30px;
    left: 650px;
}
.weather-top .logo {
    width: 40px;
    max-width: 100px;
    display: block;
}
.descr ul li {
    text-align: right;
    font-size: 13px;
    padding: 2px;
    left: 80px;
    top: -90px;
}
.main-info {
    width: 50%;
    margin: 2em auto;
    background: radial-gradient(rgb(242, 240, 245) 26%, rgb(252, 171, 115) 100%);
    padding: 2em;
    border-radius: 5px;
}
.weather-grids {
    float: left;
    width: 33%;
    margin: 2em 0;
}
.weather-grids .active {
    color: rgb(33, 33, 33);
    cursor: default;
}
.weather-grids .active:hover {
    text-decoration: none;
}
.weather-grids.weather-mdl {
    text-align: center;
}
.weather-grids h2 {
    font-size: 4em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    position: relative;
    top: -40px;
    left: 95px;
}
.units {
    font-size: 2em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    position: relative;
    top: -120px;
    left: 165px;
}
.weather-grids h3.fri {
    font-size: 12px;
    margin-top: 0.1em;
    color: rgb(0, 0, 0);
    position: relative;
    top: 35px;
    left: 7px;
}
.img-sun {
    display: block;
    margin: 0 auto;
    height: 150px;
    padding: 0 0 10px;
    position: relative;
    top: -108px;
    left: 200px;
}
.weather-bottom {
    text-align: center;
    margin-top: 1em;
}

.weather-bottom ul li {
    display: inline-block;
    padding: 1em 7;
    width: 15%;
    position: relative;
    top: -120px;
    left: -10px;
}
.weather-date {
    font-size: 16px;
    opacity: 0.6;
}
.weather-temperature {
    font-size: 13px;
}
.col-2 {
    display: inline-block;
    padding: 1em 7;
    width: 15%;
    position: relative;
    top: -80px;
    left: -10px;
}