body {
    background: #ffffff;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}
h1 {
    font-weight: 500;
    margin-top: 0.1em;
    color: rgb(0, 0, 0);
    position: relative;
    top: 30px;
    left: 5px;
}
form {
    display: block;
    margin-top: 0em;
}
form.example input[type="search"] {
    background: #f9f7fe;
    border: none;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 6px;
    color: rgba(39, 33, 66, .4);
    font-size: 16px;
    height: 50px;
    line-height: 20px;
}
form.example input[type="submit"] {
    background: rgb(252, 171, 115);
    font-weight: 700;
    font-size: 16px;
    padding: 15px 0;
    border: none;
    height: 50px;
}
li {
    font-size: 0.9em;
    display: inline-block;
    margin-top: 0.1em;
    color: rgb(0, 0, 0);
    position: relative;
    top: -35px;
    left: 4px;
}

li:first-letter {
    text-transform: capitalize;
}
small {
    font-weight: 500;
    margin-top: 0.1em;
    color: rgb(252, 171, 115);
    position: relative;
    top: -30px;
    left: 650px;
}
.descr li {
    display: inline-block;
    font-size: 20px;
    padding: 4px;
    left: -385px;
    top: -20px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.main-info {
    width: 50%;
    margin: 2em auto;
    background: radial-gradient(rgb(242, 240, 245) 26%, rgb(252, 171, 115) 100%);
    padding: 2em;
    border-radius: 5px;
}

.weather-grids {
    float: left;
    width: 33%;
    margin: 2em 0;
}
.weather-grids .active {
    color: rgb(33, 33, 33);
    cursor: default;
}
.weather-grids .active:hover {
    text-decoration: none;
}
.weather-grids.weather-mdl {
    text-align: center;
}
.weather-grids h2 {
    font-size: 3em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    position: relative;
    top: -59px;
    left: 30px;
}
.units {
    font-size: 1em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    position: relative;
    top: -115px;
    left: 90px;
}
.weather-grids h3.fri {
    font-size: 15px;
    margin-top: 0.1em;
    color: rgb(0, 0, 0);
    position: relative;
    top: 30px;
    left: 5px;
}
.img-sun {
    display: block;
    margin: 0 auto;
    height: 100px;
    padding: 0 0 10px;
    position: relative;
    top: -140px;
    left: 200px;
}
.clear {
    clear: both;
}
.weather-bottom {
    text-align: center;
    margin-top: 1em;
}
.cloud {
    display: block;
    margin: 0 auto;
    height: 64px;
    padding: 0 0 10px;
    position: relative;
    top: -2px;
    left: 3px;
}
.weather-bottom ul li {
    display: inline-block;
    padding: 1em 7;
    width: 15%;
    position: relative;
    top: -70px;
    left: -10px;
}
.weather-date {
    font-size: 16px;
    opacity: 0.6;
}
.weather-temperature {
    font-size: 13px;
}